name: Automated API tests using Postman CLI

on:
  push:
    branches:
      - main

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Postman CLI
        run: |
          curl -sL "https://dl-cli.pstmn.io/install/linux64.sh" | sh
          export PATH=$PATH:$HOME/.postman/

      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run API tests
        run: |
          postman collection run "27529247-8bd338f9-b7d2-4adb-b7ca-8ebe6b6ea0cb" -e "27529247-5bd4dc7c-96ce-4846-8b3f-427b25669f87" --reporters cli,json,junit --reporter-json-export results/postman-api-test-results.json --reporter-junit-export results/postman-api-test-results.xml
