name: Automated API tests using Postman CLI

on:
  push:
    branches:
      - main

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Postman CLI
        run: |
          curl -sL "https://dl-cli.pstmn.io/install/linux64.sh" | sh
          export PATH=$PATH:$HOME/.postman/

      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run API tests
        run: |
          postman collection run "27529247-96c80e44-a023-4871-850f-d7bd56efa9f5" --reporters cli,json,junit --reporter-json-export results/postman-api-test-results.json --reporter-junit-export results/postman-api-test-results.xml
